# Environments
venv/
env/
.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Jupyter Notebook
.ipynb_checkpoints/

# IDE / OS Files
.vscode/
.idea/
.DS_Store
Thumbs.db

# Dependencies
pip-log.txt
pip-delete-this-directory.txt

# Deployments (Dihapus dari GitHub agar proses deploy ke Railway/Koyeb lebih ringan dan aman)
dataset/
notebooks/

# Catatan: File model (*.pkl dan *.save) TETAP di-upload karena dibutuhkan saat aplikasi dijalankan di server.
