<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}COVID-19 Risk Assessor{% endblock %}</title>
    <link rel="icon" href="{{ url_for('static', filename='images/foto.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <nav class="navbar">
        <div class="nav-container">
            <a href="{{ url_for('home') }}" class="nav-logo">COVID<span>Risk</span></a>
            <ul class="nav-links">
                <li><a href="{{ url_for('home') }}">Home</a></li>
                <li><a href="{{ url_for('form') }}">Prediksi</a></li>
                <li><a href="{{ url_for('about') }}">Tentang</a></li>
            </ul>
        </div>
    </nav>

    <div class="main-content">
        {% block content %}
        {% endblock %}
    </div>

    <footer class="footer">
        <p>&copy; 2026 COVID-19 Mortality Risk Prediction. All rights reserved.</p>
    </footer>

</body>

</html>